<div class="container-fluid">
  <div class="row header">
    <div class="col">

<p id="notice"><%= notice %></p>

<h1 style="color:white;">Employees</h1>
<body style="background-color:#80bfff;">
</div>
</div>
</div>
<div class="row content">
<% @employees.each do |employee| %>
      <div class="col-md-3">
        <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><b>Employees:</b> <%= employee.department.id %></h5>
          <p class="card-text"><%= employee.first_name %></p>
          <p class="card-text"><%= employee.last_name %></p>
          <p class="card-text"><%= employee.description %></p>
<p class="card-text"><%= employee.role %></p>
<p class="card-text"><%= employee.status %></p>
<p class="card-text"><%= employee.department.id %></p>

          <div class="buttons">
          <button type="button" class="btn btn-dark"><%= link_to 'Show', employee %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_employee_path(employee) %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<%= link_to 'New Employee', new_employee_path, class: "btn btn-primary" %>

 </div>
  </div>