<div class="container-fluid">
  <div class="row header">
    <div class="col">
<p id="notice"><%= notice %></p>

<h1 style="color:white;">Reviews</h1>
<body style="background-color:#80bfff;">
</div>
</div>
</div>
<div class="row content">
<% @reviews.each do |review| %>
      <div class="col-md-3" >
        <div class="card text-white bg-secondary mb-3" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title"><b> Reviews</b> </h5>
          <p class="card-text"><%= review.note %></p>
          <p class="card-text"><%= review.store.id %></p>
          <div class="buttons">
          <button type="button" class="btn btn-dark"><%= link_to 'Show', review %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_review_path(review) %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
          </div>
        </div>
        </div>
        </div>
    
    
  

      

<% end %>
</div>
<br>

<%= link_to 'New Review', new_review_path, class: "btn btn-primary" %>

 </div>
  </div>
</div>