<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="column m-auto">
     <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Review</h5>
          <h6 class="card-subtitle">Review Information</h6>
          <p class="card-text"><p>
            <p>
<p>
  <strong>Note:</strong>
  <%= @review.note %>
</p>

<p>
  <strong>Store:</strong>
  <%= @review.store %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
 </div>
    </div>
  </div>
</div>
</div>
