<div class="container">
  <div class="row">
    <div class="col">
      
      <p id="notice"><%= notice %></p>
      
           <h1 style="color:white;">Stores</h1>
<body style="background-color:#80bfff;">
</div>
</div>
</div>
<div class="row content">
<% @stores.each do |store| %>
      <div class="col-md-3" >
        <div class="card text-white bg-secondary mb-3" style="width: 19rem;">
        <div class="card-body">
          <h5 class="card-title">Store </br></p><%= store.name %></h5>
          <p class="card-text"><%= store.description %></p>
          <p class="card-text"><%= store.url %></p>
          <p class="card-text"><%= store.status %></p>
<p class="card-text"><%= store.code %></p>
<p class="card-text"><%= store.address %></p>
<p class="card-text"><%= store.city %></p>
<p class="card-text"><%= store.state %></p>
<p class="card-text"><%= store.zip %></p>
<p class="card-text"><%= store.country %></p>
          <div class="buttons">
          <button type="button" class="btn btn-dark"><%= link_to 'Show', store %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_store_path(store) %></button>
          <button type="button" class="btn btn-dark"><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
          </div>
        </div>
      </div>
      </div>
  
  

      

<% end %>
</div>

<br>

<%= link_to 'New Store', new_store_path, class: "btn btn-primary" %>

 </div>
  </div>